# Dependencies React / Vite (Frontend)
node_modules/
dist/
dist-ssr/
*.local

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Logs & OS
*.log
.DS_Store
Thumbs.db
__pycache__/
.env

test_init.py
